html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
	font-family: 'Homemade Apple', cursive;
}


#reactApp {
	width: 100%;
	height: 35vh;
	margin: 0 0 -60px 0;
	padding: 0;
	position: absolute;
	bottom: 0;

}

.toDoList {
	float: right;
	height: 100%;
	width: 40%;
	background: rgba(0,0,0,0.5);
	opacity: 0.8;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-top: 0px;
	color: white;
	border: 1px solid black;
	
}

.btn {
	margin-right: 10px;
	margin-top: 5px;
	border-radius: 0;
}


body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-image: url('img/tree.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 100%;
	position: absolute;
	margin-top: -5%;
	padding: 0;
	z-index: -1;
	float: right;
}


.inputlist {
	color: black;
}


/* count down stuff */



#holder {
	padding-top: 10%;
	padding-left: 20%;
  width: 100%;
  height: 50%;
  margin: auto;
}
.digits {

}

.cntSeparator { display: none; }

.cntDigit {
  margin-top: 148px !important;
}

  .cntDigit#cnt_0 { margin-left: 52px; }
  .cntDigit#cnt_2 { margin-left: 30px; }
  .cntDigit#cnt_4 { margin-left: 30px; }
  .cntDigit#cnt_6 { margin-left: 30px; }


